.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;

  &.ps-active-x .ps-scrollbar-x-rail,
  &.ps-active-y .ps-scrollbar-y-rail {
    display: block;
  }

  .ps-scrollbar-x-rail {
    display: none;
  }

  .ps-scrollbar-y-rail {
    position: absolute;
    display: none;
    z-index: 1;
    margin: 5px;
    border-radius: 3px;
    transition-duration: 150ms;
    transition-property: background-color, width, border-radius;
    right: 0;
    width: 6px;

    &:hover, &:active {
      // background-color: rgba(0,0,0,0);
      width: 8px;

      .ps-scrollbar-y {
        // background-color: rgba(0,0,0,0);

        &:hover, &:active {
          // background-color: rgba(0,0,0,0);
        }
      }
    }

    .ps-scrollbar-y {
      position: absolute;
      // background-color: rgba(0,0,0,0);
      border-radius: 4px;
      width: inherit;
      right: 0;
    }
  }
}
