<div id="search">
  <input placeholder="Search{{browser.searchIn ? ' in ' + browser.searchIn : ''}}..." ng-change="browser.updateList({limit: true}); browser.resetScroll()" ng-keydown="browser.searchKD($event)" ng-model="browser.searchValue" ng-trim="false">
</div>
<div class="sorting">
  {{browser.sortingName}}
  <div class="list">
    <div ng-repeat="sort in ::browser.sorts | orderBy:'value' track by sort.type" ng-hide="sort.type === browser.sorting || (sort.type == 'season' && !browser.serie_id)" ng-click="browser.setSorting(sort); browser.resetScroll()" ng-class="sort.type == browser.sorting ? 'selected' : ''">{{sort.value}}</div>
  </div>
</div>
<div class="toggleFull" ng-click="browser.toggleFull()" ng-class="browser.disableFull ? 'enabled' : ''"></div>
<div class="display {{browser.display == 'grid' ? 'list' : 'grid'}}" ng-click="browser.toggleDisplay()"></div>
