::selection{background: #ACBBF7;}

::-webkit-scrollbar { width: 0 !important; height: 0 !important }

$phoneLike: "screen and (max-width: 470px)";

@mixin lightScrollbar {
  .ps-scrollbar-y-rail {
    .ps-scrollbar-y {
      background-color: rgba(255,255,255,0.25);
    }
    &:hover, &:active {
      background-color: rgba(255,255,255,0.15);

      .ps-scrollbar-y {
        background-color: rgba(255,255,255,0.35);

        &:hover, &:active {
          background-color: rgba(255,255,255,0.45);
        }
      }
    }
  }
}

@mixin darkScrollbar {
  .ps-scrollbar-y-rail {
    .ps-scrollbar-y {
      background-color: rgba(0,0,0,0.25);
    }
    &:hover, &:active {
      background-color: rgba(0,0,0,0.15);

      .ps-scrollbar-y {
        background-color: rgba(0,0,0,0.35);

        &:hover, &:active {
          background-color: rgba(0,0,0,0.45);
        }
      }
    }
  }
}

.highlight {
  font-weight: 600;
  color: #FFF;
}


html {
  height: 100%;

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #13161D;
    background-color: #F6F7FB;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    overflow-y: scroll;
    height: 100%;
    background-color: #13161D;
    overflow: hidden;

    .wrapper{
      height: 100%;

      .main {
        padding: 0 0 25px 200px;
        box-sizing: border-box;

        position: relative;
        overflow: hidden !important;
        width: 100%;
        height: 100%;

        @media #{$phoneLike} {
          margin-left: 0;
        }
      }
    }
  }
}

header {
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  z-index: 2;

  @media #{$phoneLike} {
    left: 0px;
  }


  .title {
    font-size: 28px;
    float: left;
    position: absolute;
    line-height: 102px;
    top: 0;
    left: 32px;
  }

  #search {
    height: 62px;
    padding-left: 60px;
    background-image: url(assets/icons/search_light.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: 30px 50%;
    font-weight: 400;
    margin-right: 200px;

    input {
      border-style: none;
      font-family: inherit;
      font-size: inherit;
      height: 100%;
      padding: 0;
      background-color: rgba(0,0,0,0);
      outline: 0;
      width: 100%;
      color: rgba(246, 247, 251, 0.8);
    }
  }
  .sorting {
    cursor: pointer;
    position: absolute;
    height: 16px;
    padding: 3px;
    padding-right: 15px;
    right: 104px;
    top: 20px;
    line-height: 16px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    background-image: url(assets/icons/arrowDown.svg);
    background-size: 9px;
    background-position: 100% 50%;
    background-repeat: no-repeat;

    &:hover {
      .list {
        visibility: visible;
      }
    }

    .list {
      cursor: default;
      visibility: hidden;
      position: absolute;
      top: 26px;
      right: 0;
      background: #F6F7FB;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      font-size: 12px;
      padding: 6px;
      text-align: left;
      font-weight: 600;
      color: rgb(71, 71, 71);
      transition: 500ms visibility;

      div {
        padding: 2px 3px;
        border-radius: 2px;
        padding-right: 40px;
        white-space: nowrap;

        &.selected {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:not(.selected) {
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.15);
          }
          &:active {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .toggleFull {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #FFF;
    right: 65px;
    top: 23px;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #FFF;

    &.enabled {
      background-color: rgba(0,0,0,0);
    }

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.6;
    }
  }
  .display {
    height: 16px;
    width: 16px;
    background-image: url(assets/icons/grid.png);
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.5;
    padding: 3px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;

    &.list {
      background-image: url(assets/icons/list.png);
    }
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.6;
    }
  }
  .filter {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 14px;
    color: rgba(19, 22, 29, 0.5);
    font-weight: 600;
    line-height: 38px;
    padding-top: 3px;



    @media screen and (max-width: 640px){
      display: none;
    }

    span {
      cursor: pointer;

      &.selected {
        color: #6082D0;
      }
      &:hover {
        color: #13161D;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  color: rgba(163, 164, 166, 1);
  color: rgba(246, 247, 251, 0.5);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  z-index: 2;

  .homeView &{
    appname {
      box-shadow: none;
    }
    section {
      display: none;
    }
  }

  #sections {
    position: relative;
    height: calc(100% - 62px);
  }

  .gm-scroll-view {
    overflow-x: hidden;
  }

  .hideHome &{
    display: none;
  }

  appname {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 24px;
    padding: 0px 17px;
    color: #ACBBF7;
    text-shadow: 0 0 20px #ACBBF7;
    line-height: 62px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19);
  }

  section {
    margin: 20px 20px 40px;

    .title {
      font-size: 18px;
      margin-bottom: 5px;
      color: rgba(246, 247, 251, 0.8);
    }
    .selected {
      color: rgba(246, 247, 251, 0.7);
      background-color: rgba(246, 247, 251, 0.15);
    }

    .types:last-child{
      border-top: 1px solid rgba(246, 247, 251, 0.15);
      padding-top: 5px;
      margin-top: 5px;
    }

    .link {
      padding: 3px 9px;
      border-radius: 3px;
      cursor: pointer;
    }
    .link:hover {
      background-color: rgba(246, 247, 251, 0.2);
    }
    .link:active {
      background-color: rgba(246, 247, 251, 0.12);
    }
  }

  @media #{$phoneLike} {
    display: none;
  }

  .ps-scrollbar-y-rail {
    .ps-scrollbar-y {
      background-color: rgba(255,255,255,0.25);
    }
    &:hover, &:active {
      background-color: rgba(255,255,255,0.05);

      .ps-scrollbar-y {
        background-color: rgba(255,255,255,0.25);

        &:hover, &:active {
          background-color: rgba(255,255,255,0.35);
        }
      }
    }
  }
  #sections:hover .thumb {
    background-color: rgba(255,255,255,0.15);
  }
}

.statusbar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 200px;
  height: 21px;
  padding: 2px;
  color: rgba(246, 247, 251, 0.65);
  font-size: 12px;
  line-height: 21px;


  .message {
    opacity: 0;
    height: 21px;
    float: left;
    transition: opacity 1000ms;

    &.spinner {
      background-image: url(assets/icons/loading.svg);
      background-size: 16px;
      background-position: 0 50%;
      background-repeat: no-repeat;
      padding-left: 24px;
    }

    &.show {
      opacity: 1;
      transition-duration: 0ms;
    }
  }

  .nbElements {
    float: right;
    margin-right: 5px;
    color: rgba(246, 247, 251, 0.5);

    .homeView & {
      display: none;
    }
  }

  .reload {
    height: 100%;
    width: 21px;
    background-image: url(assets/icons/reload.svg);
    background-size: 13px;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.6;
    float: right;

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }

    .homeView & {
      display: none;
    }
  }
}


.home {
  .popup-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 32px;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
    z-index: 3;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0, 0);

    .pop {
      border-radius: 5px;
      padding: 25px 25px 90px;
      margin: 15px 0 30px 0;
      overflow: hidden;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
      width: 100%;
      max-width: 850px;
      position: relative;
      background-color: #F6F7FB;
      max-height: 420px;
      font-size: 14px;

      &.hide {
        display: none;
      }

      .title {
        font-size: 23px;
        font-weight: 600;
        text-align: center;
      }

      .desc {
        margin-bottom: 50px;
        text-align: center;
      }

      .info {
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 7px;
        font-weight: 600;
        margin-top: 25px;
      }

      .select {
        margin-bottom: 5px;
        padding: 4px 6px;
        background: #DEDFE4;
        width: auto;
        display: inline-block;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 200ms;

        &:hover{
          transition-duration: 0ms;
          background-color: #CBCCD0;
        }
      }

      .item {
        font-style: italic;
        cursor: pointer;
        margin-bottom: 2px;
        font-weight: 600;
        vertical-align: middle;
        display: inline-block;
        transition: background-color 200ms;
        padding: 0 4px;
        border-radius: 2px;

        &:hover{
          transition-duration: 0ms;
          background-color: #DEDFE4;
        }
      }

      .remove-item {
        cursor: pointer;
        background-image: url(assets/icons/remove.svg);
        background-size: 100% 100%;
        margin: 0 5px;
        width: 13px;
        height: 13px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
        opacity: 0.8;
        transition: opacity 200ms;

        &:hover{
          transition-duration: 0ms;
          opacity: 1;
        }
      }

      .checkboxes {
        div {
          display: inline-block;
          margin: 0 5px;
          width: 50px;

          input {
            margin: 0 5px 0 0;
          }
        }
      }

      .next {
        background-image: url(assets/icons/next.svg);
        position: absolute;
        bottom: 25px;
        height: 40px;
        width: 40px;
        right: 25px;
        background-size: 100%;
        opacity: 0.3;
        transition: 200ms opacity;

        &.enabled {
          opacity: 0.8;
          cursor: pointer;

          &:hover {
            opacity: 1;
            transition-duration: 0ms;
          }
          &:active {
            opacity: 0.9;
            transition-duration: 0ms;
          }
        }
      }
    }
  }
}

.browser {
  margin-top: 62px;
  height: calc(100% - 62px) !important;
  box-sizing: border-box;

  .gm-scrollbar.bro {
    position: fixed;
    top: 67px !important;
    bottom: 30px !important;
  }

  @media #{$phoneLike} {
    border-radius: 0;
  }

  & .wrapElems {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    #elements {
      min-height: 100%;
    }
  }

  &.list, &.grid {
    .elem .poster {
      .overlay {
        opacity: 0;
        position: relative;
        visibility: hidden;
        height: 100%;
        width: 100%;
        background-color: rgba(19, 22, 29, 0.8);
        transition: 250ms opacity, 250ms visibility;
        background-position: 50%;
        background-repeat: no-repeat;

        &.play {
          background-image: url(assets/icons/play.svg);
        }

        &.next {
          background-image: url(assets/icons/next.svg);
        }
      }

      &:hover .overlay {
        opacity: 1;
        visibility: visible;
        transition-duration: 0ms;
      }
      &:active .overlay {
        opacity: 0.9;
        visibility: visible;
        transition-duration: 0ms;
      }
    }
  }

  &.list {
    color: rgba(255, 255, 255, 0.5);

    .nothing {
      font-style: italic;
      letter-spacing: 0.5px;
      padding-top: 50px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
    }

    #elements {
      position: relative;
      background-color: #2B2B2B;
    }

    .divider {
      color: #ACBBF7;
      padding-left: 17px;
      line-height: 27px;
      background-color: rgb(70, 71, 81);
      font-weight: 600;
      z-index: 1;
      box-sizing: border-box;

      &.static {
        position: fixed;
        width: calc(100% - 200px);
        border-top-left-radius: 4px;
      }

      &.bottom {
        position: absolute;
        width: 100%;
        border-radius: 0;
        right: 0;
        left: 0;
        width: auto;
      }
    }

    .elem {
      display: flex;
      padding: 10px 20px;
      color: rgb(163, 163, 163);
      box-shadow: 0 1px rgba(29, 29, 29, 1), 0 2px rgba(52, 52, 52, 1);
      font-size: 12px;
      font-weight: 600;

      &.missing {
        &::before {
          content: '?';
          position: absolute;
          left: 7px;
          font-size: 13px;
        }
      }

      &:not(.serie):not(.missing) {
        .title {
          padding: 0 5px;
          margin-left: -5px;
          border-radius: 2px;
          cursor: pointer;

          &:hover{
            background: rgba(255, 255, 255, 0.1);
          }
          &:active{
            background: rgba(255, 255, 255, 0.05);
          }
        }
      }

      .poster {
        display: none;
        height: 75px;
        background-color: rgba(255, 255, 255, 0.1);
        min-width: 50px;
        width: 50px;
        margin-right: 20px;
        background-size: cover;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        background-position: 50%;
        border-radius: 1px;

        .overlay {
          background-size: 28px;
        }
      }

      .info {
        width: auto;
        padding-left: 5px;
        margin-left: -5px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        .title {
          color: rgba(255, 255, 255, 0.8);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          font-size: 14px;
          font-weight: 400;
          max-width: 100%;
        }
        .dlt{
          font-size: 11px;
          margin-top: 2px;
          display: none;

          .quality{
            font-weight: 700;
            font-style: italic;
          }
        }
      }

      .more {
        display: none;

        :not(.th) div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 17px;
        }
        .th {
          padding-right: 15px;
          flex-shrink: 0;
        }
      }

      @at-root :not(.disableFull)#{&} {
        &.full {
          padding: 15px 20px;

          .more {
            display: flex;
            line-height: 17px;
            /* align-items: center; */
            /* flex-shrink: 0; */
          }

          .poster {
            display: block;
          }

          .info {
            width: 330px;
            margin-right: 10px;
            flex-shrink: 0;

            .title {
              color: #f7f7f7;
              font-size: 16px;
              box-sizing: border-box;
            }

            .dlt{
              font-size: 11px;
              margin-top: 2px;
              display: initial;
            }
          }
        }
      }


      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.025);
      }
    }

    @include lightScrollbar;
  }

  &.grid {
    text-align: center;

    .nothing {
      font-style: italic;
      letter-spacing: 0.5px;
      padding-top: 2px;
      color: rgba(19, 22, 29, 0.6);
      font-weight: 600;
    }

    #elements {
      padding: 48px 32px 0;
      box-sizing: border-box;
      background-color: #F6F7FB;
    }

    .elem {
      width: 130px;
      display: inline-block;
      margin: 0 16px 32px;
      vertical-align: top;

      &:not(.serie) {
        .title {
          border-radius: 2px;
          cursor: pointer;

          &:hover{
            background: rgba(0, 0, 0, 0.075);
          }
          &:active{
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }

      &.missing {
        opacity: 0.6;
      }


      .poster{
        cursor: pointer;
        height: 195px;
        width: 130px;
        border-radius: 5px;
        background-position: 50%;
        background-size: cover;
        box-shadow: inset 0 0 0 1px rgba(19, 22, 29, 0.05);
        background-image: linear-gradient(#1E232D, #333742);
        margin-bottom: 8px;

        .overlay {
          border-radius: 5px;
          background-size: 48px;
        }
      }

      .title, .genre, .duration {
        font-size: 13px;
        letter-spacing: -0.5px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .title{
        font-weight: 700;
        color: #3C4C55;

        &.new{
          white-space: initial;
          max-height: 48px;
        }
      }
      .genre, .duration{
        font-weight: 600;
        color: rgba(60, 76, 85, 0.5);
      }
    }

    @include darkScrollbar;
  }

  &.duplicates {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

    #elements {
      background-color: #2B2B2B;
    }

    .elem {
      padding: 10px 20px;
      .filename {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
      }
      .path {
        cursor: pointer;
        display: table;
        padding: 2px 5px;
        border-radius: 3px;

        &:hover {
          color: #FFF;
          background-color: rgba(255,255,255,0.1);
        }
      }
    }

    @include lightScrollbar;
  }

  &.searching {
    .popup-wrapper {
      &.search {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &.display {
    .popup-wrapper {
      &.element {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .popup-wrapper {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    padding: 0 32px;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
    z-index: 3;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: rgba(19, 22, 29, 0.7);
    transform: translate3d(0,0,0);

    &.search {
      .choose {
        border-radius: 5px;
        margin: 15px 0 30px 0;
        overflow: hidden;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        text-align: left;
        width: 100%;
        max-width: 800px;
        max-height: calc(100% - 80px);
        min-height: 295px;


        #search {
          height: 50px;
          background-color: #FFF;
          line-height: 50px;
          padding-left: 45px;
          background-image: url(assets/icons/search_dark.svg);
          background-size: 19px;
          background-repeat: no-repeat;
          background-position: 15px 50%;
          font-weight: 400;
        }
        #search input {
          border-style: none;
          font-family: inherit;
          font-size: inherit;
          height: 100%;
          padding: 0;
          background-color: rgba(0,0,0,0);
          outline: 0;
          width: 100%;
        }

        #info {
          height: 55px;
          background: #383838;
          color: #FFF;
          line-height: 55px;
          padding: 0 20px;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          position: relative;
          z-index: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &.spinner {
            background-image: url(assets/icons/loading.svg);
            background-position: 20px 50%;
            background-repeat: no-repeat;
            padding-left: 50px;
          }
        }

        #results {
          background: #2B2B2B;
          color: #989898;
          font-weight: 600;
          overflow: auto;
          height: calc(100% - 105px);
          min-height: 190px;
          position: relative;

          .nothingFound {
            font-style: italic;
            letter-spacing: 0.5px;
            padding-top: 30px;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
          }

          .res {
            display: flex;
            font-size: 12px;
            padding: 15px 20px;
            box-shadow: 0 1px #222222, 0 2px #343434;
            position: relative;
            color: #646464;
            flex-wrap: wrap;

            &.movie {
              cursor: pointer;

              &:hover {
                background-image: linear-gradient(160deg, #41495C, rgba(65, 73, 92, 0.49));
                color: #9BA4BA;
              }
            }
            &.done {
              color: inherit;

              .update {
                display: none;
              }
            }

            .poster {
              height: 75px;
              background-color: rgba(255, 255, 255, 0.1);
              min-width: 50px;
              width: 50px;
              margin-right: 20px;
              background-size: cover;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
              background-position: 50%;
              border-radius: 1px;
            }
            .info {
              width: 200px;
              padding-right: 10px;
              flex: 1 160px;

              .title {
                font-size: 16px;
                color: #FFF;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .dlt{
                font-size: 11px;
                margin-top: 2px;
              }
            }
            .more {
              display: flex;
              line-height: 15px;
              flex: 1 calc(100% - 320px);

              :not(.th) div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 15px;
              }

              .th {
                padding-right: 15px;
                flex-shrink: 0;
              }
            }

            .seasons {
              margin-top: 10px;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              .season {
                border-radius: 3px;
                padding: 2px 5px;
                margin: 0 3px 3px 0;
                background: rgba(255, 255, 255, 0.03);
                word-wrap: break-word;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.1);
                }

                div {
                  color: #D5D5D5;
                  margin-bottom: 1px;
                }

                span {
                  padding: 0 4px;
                  cursor: pointer;
                  border-radius: 3px;

                  &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                    color: #DDD;
                  }
                  &:active {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: #DDD;
                  }
                }
              }
            }

            .update {
              position: absolute;
              bottom: 15px;
              right: 15px;
              border-radius: 50%;
              width: auto;
              font-size: 13px;
              color: rgb(208, 208, 208);
              opacity: 1;
            }
          }
        }

        @include lightScrollbar;
      }
    }

    &.element {
      .informations {
        border-radius: 5px;
        margin: 15px 0 30px 0;
        overflow: hidden;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        text-align: left;
        width: 100%;
        max-width: 900px;
        max-height: calc(100% - 80px);
        min-height: 440px;
        background-color: #151515;
        position: relative;
        background-color: #000;

        .bg {
          position: absolute;
          top: -30px;
          left: -30px;
          right: -30px;
          bottom: -30px;
          -webkit-filter: blur(20px);
          background-position: 50%;
          opacity: 0.5;
          background-size: cover;
        }
        .content {
          display: flex;
          position: relative;
          min-height: 440px;
          background-image: -webkit-radial-gradient(center, ellipse cover, transparent 60%, rgba(0, 0, 0, 0.2));

          .poster {
            width: 227px;
            height: 360px;
            margin: 40px 30px;
            background-size: cover;
            background-position: 50%;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.32), inset 0 0 0 1px rgba(255, 255, 255, 0);
            border-radius: 2px;
            flex-shrink: 0;

            &.clickable {
              cursor: pointer;
            }
          }
          .infos {
            margin: 40px 0;
            color: #FFF;
            font-size: 13px;
            width: calc(100% - 287px);

            .title {
              font-size: 20px;
              width: calc(100% - 120px);
              line-height: 23px;

              span {
                font-size: 17px;
                margin-left: 2px;
                color: rgba(255, 255, 255, 0.8);
                font-style: italic;
                letter-spacing: 0.5px;
                font-weight: 300;
                white-space: nowrap;
              }
            }

            .date {
              color: rgba(255, 255, 255, 0.8);
              padding-left: 15px;
              background-image: url(assets/icons/runtime.svg);
              background-size: 11px;
              background-position: 0 50%;
              background-repeat: no-repeat;

              .quality {
                font-weight: 700;
                color: #FFF;
                font-style: italic;
              }
            }

            .more {
              margin: 30px 30px 0 0;
              display: flex;
              color: rgba(255, 255, 255, 0.85);

              div {
                min-height: 7px;
                margin-bottom: 2px;
              }
              .th {
                font-weight: 600;
                padding-right: 12px;
                color: #FFF;
                flex-shrink: 0;
              }
            }
          }
        }

        .showFile {
          height: 15px;
          background-image: url(assets/icons/folder.svg);
          position: absolute;
          top: 46px;
          background-position: 0 50%;
          background-repeat: no-repeat;
          right: 30px;
          background-size: 20px;
          opacity: 0.5;
          font-size: 12px;
          padding-left: 28px;
          color: #FFF;
        }

        &:not(.missing) .showFile {
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    @media #{$phoneLike} {
      left: 0;
    }
  }
}
